<p id="notice"><%= notice %></p>

<!-- Main container -->
<div class="page-container">

<!-- bloc-1 -->
<div class="bloc bg-lake bgc-white l-bloc" id="bloc-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="mg-md text-center tc-grey">
              Staff Management Portal
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row voffset">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="text-left">
              <table>
                <thead>
                  <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Contact</th>
                    <th>Contact Email</th>
                    <th colspan="4"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @employees.each do |employee| %>
                    <tr>
                      <td><%= employee.first_name %></td>
                      <td><%= employee.last_name %></td>
                      <td><%= employee.email %></td>
                      <td><%= employee.gender %></td>
                      <td><%= employee.department.name %></td>
                      <td><%= employee.department.contact %></td>
                      <td><%= employee.department.contact_email %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
              <%= button_to "Back", root_path, :class => "btn btn-l btn-french-blue", :method => :get %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-1 END -->

</div>